<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simpligility.android.morseflash.tests"
          android:versionCode="1"
          android:versionName="1.0.0-SNAPSHOT">
    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
    <instrumentation android:name="com.simpligility.android.morseflash.ScreenUnlockerTestRunner"
                     android:targetPackage="com.simpligility.android.morseflash"
                     android:label="Tests for MorseFlash."/>
</manifest>

