<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.simpligility.android.morseflash" 
    android:versionCode="1" 
    android:versionName="1.0.0-SNAPSHOT">

  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>
  <application android:name="MorseFlashApplication" android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="ConfigureMorseActivity" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:host="@string/server_host" android:pathPrefix="@string/server_path" android:scheme="@string/server_schema"/>
      </intent-filter>
    </activity>
    <activity android:name="MorseFlashActivity"/>
  </application>



</manifest>